@model MusicStore.ViewModels.ShoppingCartViewModel
@{
    ViewBag.Title = "Kosár";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="radiusHatter">
    <script type="text/javascript">
        $(function () {
            // Document.ready -> link up remove event handler
            $(".RemoveLink").click(function () {
                var recordDelete = $(this).attr("data-id");
                if (recordDelete != '') {
                    // Perform the ajax post
                    $.post("/ShoppingCart/RemoveFromCart"
                        , { id: recordDelete }
                        , function (data) {
                            // Successful requests get here
                            // Update the page elements
                            if (data.ItemCount == 0) {
                                $('#row-' + data.DeleteId).fadeOut('slow');
                            }
                            else {
                                $('#item-count-' + data.DeleteId).text(data.ItemCount);
                            }
                            $('#cart-total').text(data.CartTotal);
                            $('#update-message').text(data.Message);
                            $('#cart-status').text('Cart (' + data.CartCount + ')');
                        });
                }
            });
        });
        function handleUpdate() {
            // Load and deserialize the returned JSON data
            var json = context.get_data();
            var data = Sys.Serialization.JavaScriptSerializer.deserialize(json);
            // Update the page elements
            if (data.ItemCount == 0) {
                $('#row-' + data.DeleteId).fadeOut('slow');
            } else {
                $('#item-count-' + data.DeleteId).text(data.ItemCount);
            }
            $('#cart-total').text(data.CartTotal);
            $('#update-message').text(data.Message);
            $('#cart-status').text('Cart (' + data.CartCount + ')');
        }
    </script>
    <div class="container">
        <br />
        <div>
            <h3>Az Ön kosara:</h3>
        </div>
        <br />
        <div id="update-message">
        </div>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Név</th>
                    <th scope="col">Ár</th>
                    <th scope="col">Mennyiség</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CartItems)
                {
                    <tr id="row-@item.RecordId">
                        <td>
                            @Html.ActionLink(item.Album.Title, "Details", "Store", new { id = item.AlbumId }, null)
                        </td>
                        <td style="text-align:center;">
                            @item.Album.Price
                        </td>
                        <td id="item-count-@item.RecordId">
                            @item.Count
                        </td>
                        <td>
                            <a href="#" class="RemoveLink" data-id="@item.RecordId">
                                eltávolítás a kosárból
                            </a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <h2 id="cart-total">Összesen: @Model.CartTotal</h2>
        <p class="button">
            @Html.ActionLink("Fizetés", "AddressAndPayment", "Checkout")
        </p>
    </div>
</div>

