@model MusicStore.Models.Termekek
@{
    ViewBag.Title = "Termék adatok";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="radiusHatter">
    <div class="container ">
        <div class="col-12">
            <div class="row">
                <div class="col-6 adatokDiv">
                    <div>
                        <p class="adatokSzoveg">
                            Név: @Model.nev
                        </p>
                        <p class="adatokSzoveg">
                            Tipus: @Model.tipus
                        </p>
                        <p class="adatokSzoveg">
                            Ár:  @String.Format("{0} Ft", Model.ar)
                        </p>
                        <p class="button">
                            @Html.ActionLink("Kosárba", "AddToCart", "ShoppingCart", new { id = Model.Id }, "")
                        </p>
                    </div>

                </div>
                <div class="col-6">
                    <img class="adatokKep" alt="@Model.nev" src="@Model.kep" />
                </div>
            </div>
        </div>
    </div>
</div>
